@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --scrollbar-thumb: #909090;
    --scrollbar-track: #f1f1f1;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Add perspective utility class to Tailwind */
@layer utilities {
    .perspective-1000 {
        perspective: 1000px;
    }
}
